{% extends 'basedossier.html' %}


{% block body %} 
<a style="float:left;" href="{% url 'selection_etudedossier2022' %}">Retour à l'index </a><BR><BR>
<h1> Page de gestion : {{ message }} </h1><BR>
<form id="formulaire" method="POST" enctype="multipart/form-data" action="">
    {% csrf_token %}
    <input type="hidden" id="valeur" name="valeur" value="">
    <ul > {% if request.user.username == "rezzouk" or request.user.username == "nizon" %}
    <li><button onclick="effectue_action('upload_initial')"> Charger le fichier (format xlsx) suivant sur le site</button>
    {{ form.as_p }}</li>
    <li><button onclick="effectue_action('convertir_excel')"> Convertir le fichier xlsx en base de données </button></li>
    <li><button onclick="effectue_action('sauvegarde_generale')"> Sauvegarde note/catégorie en fin de phase générale</button></li>
    <li><button onclick="effectue_action('rang_fin_phase')"> création du rang en fin de phase générale</button></li>
    <li><button onclick="effectue_action('rang_final')"> création du rang final sans égalité</button></li>{% endif %}
    <li><button onclick="effectue_action('creation_excel')"> Exporter la base de données en fichier xlsx</button></li>
    <li> <a href="{% url 'download_etudedossier2022' 'fichierfinal.xlsx' %}"> Télécharger le fichier xlsx final </a></li>

</ul> 

</form>

<script type="text/javascript">
const valeur=document.getElementById("valeur");
const formulaire=document.getElementById("formulaire");

function effectue_action(msg) {
        valeur.value=msg;
        formulaire.submit();
}
</script>

{% endblock body %}