*__pycache__*
db.sqlite3
private_files/*
sitempsi/config_perso.py
base/config_mail_perso.py
gestionmenu/donnees_perso.py
gestionmenu/hors_git.py
config_generale_perso.py
gestionmenu/hors_git/*
etudedossier2021/fiches/*
etudedossier2021/stockage/*
etudedossier2022/fiches/*
etudedossier2022/stockage/*
etudedossier2023/fiches/*
etudedossier2023/stockage/*